body {
    background-color: #CD5C5C;
    
}

 h2 {
     color: white;
     font-style: normal; 
     text-align: center;
 }

 form {
     color: white;
     width: 600px;
     display: grid;
     margin: 0 auto;
 }

 #submit {
    background-color: darkred;
    width: 100px;
    height: 30px;
    color: white;
    border: darkred;
 }

 #Name, #emailAddress, #Subject, #Message {
     height: 35px;
 }